<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <h1>WellCome to Our Submition Form</h1>
    <div class ='myForm'>
    <form action ='/form/submit' method ='POST'>
    <lable for='firstName'>First_Name</lable>
    <input type='text' name='firstName' id='firstName' required/><br><br>
    <lable for='lastName'>Last_Name</lable>
    <input type='text' name='lastName' id='lastName' required/><br><br>
    <lable for='email'>Email</lable>
    <input type='email' name='email' id = 'email' required/><br><br>
    <lable for= 'password'>Password</lable>
    <input type='password' name='password' id= 'password' required/><br><br>
    <button> Submit </button>
    </form>
    </div>
</body>
</html>