<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Hello Product file</h1>
<ul id="myPara"></ul>
    <script>
        // (function(){
        //     let myPara = document.getElementById("myPara");
        //     fetch("http://localhost:3000/prodcuts")
        //     .then(res => res.json())
        //     .then(res => res.map(p =>  myPara.innerHTML += `<li> ${p.title}</li>
        //     <img src = ${p.images[0]} style= width:190px>
            
        //     `))
        //     .catch(err => console.log(err))
        // })();
    </script>
</body>
</html>